.aboveTheSea{
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: rgb(36, 36, 36);
    padding: 40px 0;
    img{
        width: 80%;
        margin-right: 40px;
    }
    .content{
        margin-left: 40px;
        color: white;
        p{
            padding-right: 100px;
            margin: 20px 0;
        }
        button{
            background-color: rgb(234, 216, 77);
            border: none;
            padding: 10px 20px;
            border-radius: 20px;
        }
    }
}